.heroBanner {
	background-color: #686978;
	padding: 4rem 0;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.heros {
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}

@media screen and (max-width: 966px) {
	.heroBanner {
		padding: 2rem;
	}
}

.buttons {
	--ifm-button-size-multiplier: 1.5;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}


.buttons a:last-of-type {
	margin: 20px 36px;
}